  body {
  font-family: Arial;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  padding: 15px;
  background: white;
  margin: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}